.footer {
  font-size: 32px;
  background-color: rgb(64, 117, 123, 0.9);
  padding: 25px 0;
  color: white;
}

.footer p {
  font-size: 12px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul > li {
  display: inline-block;
  padding: 5px 10px;
}

.fa-brands {
  color: #FFC2B4;
}
